@import "../../../style/_variables.scss";
.VideoList {
  &__wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;

  &__wrapper {
    margin-top: 1rem;
    text-align: center;
  }

  &__item {
    display: inline-block;
    border-top: 1px solid rgba($main-color, 0.25);
    border-left: 1px solid rgba($main-color, 0.25);
    border-bottom: 1px solid rgba($main-color, 0.25);

    &:last-of-type {
      border-right: 1px solid rgba($main-color, 0.25);
    }
  }

  &__link {
    display: block;
    padding: 0.75rem 1rem;
    color: $main-color;
    text-decoration: none;
    transition: 0.2s all linear;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }

    &--active {
      background-color: $main-color;
      color: #fafafa;

      &:hover {
        background-color: rgba($main-color, $alpha: 0.75);
      }
    }
  }
}

.Tile {
  &--margin {
    margin: 0 18px 18px 0;
  }
}
